.courses {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin: 20px;
}

.courses__item {
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.courses__item__img {
  position: relative;
  width: 100%;
}

.courses__item__img__profile-image {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.courses__item__img__background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.courses__item__info {
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.courses__item__info__desc {
  padding: 15px 0 14px;
  color: #888;
  font-size: 14px;
}

.courses__item__info__btn-shape {
  display: inline-block;
  background-color: #0075ff;
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  color: #fff;
  padding: 4px 10px;
  border-radius: 6px;
}

.courses__item__info__details {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: #888;
  font-size: 13px;
}